{% extends "layout.html" %}
{% block content %}
{% if total %}
  <h1 class="navbar-brand" style="padding-top:5vw;">Total results: {{total}}</h1>
  <div class="table100" style="padding-top:1vw;position:relative">
{% else %}
  <div class="table100" style="padding-top:6vw;position:relative">
{% endif %}
            <table>
              <thead>
                <tr class="table100-head">
                  {% for f in fields[:-1] %}
                    <th onclick="" class="column1">{{f}}</th>
                  {% endfor %}
                  <th class="column2">{{fields[fields|length-1]}}</th>
                </tr>
              </thead>
              <tbody>
                {% for person in data %}
                  <tr>
                    {% if person['\ufeffphone_FB'] %}
                      <td class="column1">{{person['\ufeffphone_FB']}}</td>
                    {% else %}
                      <td class="column1">{{person['phone_FB']}}</td>
                    {% endif %}
                    {% for f in fields[1:-1] %}
                      <td class="column1">{{person[f]}}</td>
                    {% endfor %}
                    <td class="column6">{{person[fields[fields|length-1]]}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <br><br><br>
            </div>
            {% if result %}
            <div style="padding-left:34vw;padding-top:30px;" >
              <button class="btn btn-danger" style="width:10vw"
              onclick="window.location = '{{url_for('export' , data=data)}}'" >
                    Export results
                </button>
            </div>
            {% endif %}
{% endblock content %}
