{% extends "layout.html" %}
{% block content %}
<br><br><br>
<div class="content-section" style=" color:white;">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                {% for field in form %}
                {% if field.name != 'submit' and field.name != 'csrf_token' %}
                <div class="form-group">
                    {{ field.label(class="form-control-label" , style="color:grey") }}
                    {% if field.errors %}
                        {{ field(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in field.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
