{% extends "layout.html" %}
{% block content %}
<div class="content-section" style=" color:white;">
        <form method="POST" action="" id="searchFormFields">
           <div id="fields">
               <div id="index" class="form-select form-select-lg">
                <select class="form-select" form="searchFormFields" name="index" id ="index">
                    {% for i in indices + ['all'] %}
                        <option value="{{i}}" >{{i}}</option>
                    {% endfor %}
                </select>
               </div>
                <div id="element">
                    <div style="display: inline-block;">
                        <select class="form-select" form="searchFormFields" name="options" id ="options">
                            {% for h in headers %}
                                <option value="{{h['old']}}">{{h['field']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="display: inline-block;width: 15vw;" >
                        <input class="form-control" type="text" name="choice" id="choice">
                    </div>
                    <div style="display:inline-block;padding-left:1vw;" id="next">
                            <button type="button" class="btn btn-info" onclick="
                                var original = document.getElementById('element');
                                var clone = original.cloneNode(true);
                                clone.removeAttribute(id);
                                document.getElementById('fields').appendChild(clone);
                            ">And</button>
                    </div>
                    <br><br>  
                </div>  
            </div> 
        <input type="submit" class="btn btn-success" value="Submit" style="display: inline-block;">
        </form>
    </div>
    <br>
{% endblock content %}
