{% extends "layout.html" %}
{% block content %}
<div class="col-md-4" style="">
<h1 class="navbar-brand"> Upload CSV </h1>
<form id="uploadForm" action = "{{url_for('upload')}}" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" style="padding:0px"/>
         <div>
           <h2 class="navbar-brand">Index</h2>
         </div>
         <select class="form-select" form="uploadForm" name="indexChoice" id ="indexChoice">
           {% for index in indices %}
            <option value="{{index}}">{{index}}</option>
           {% endfor %}
           <option value="other">other</option>
         </select>
         <div>
           <h3 class="navbar-brand" style="padding-top:10px">if other</h3>
         </div>
         <div style="padding-top:10px">
           <input class="form-control" name="index" id="index" />
         </div>
         <div style="padding-top:25px" >
           <input class="btn btn-danger" type = "submit" />
         </div>
</form>
</div>
{% endblock content %}
